<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuruoye.note" >

    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.WriteActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".view.SettingActivity"/>
        <activity android:name=".view.ShowItemActivity"/>
        <activity android:name=".view.ShowFontActivity"/>
        <activity android:name=".view.FontDownloadActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.ShowBackupActivity" />
        <activity android:name=".view.ShowNoteActivity" />
        <activity android:name=".view.ShowStateActivity"/>
        <activity android:name=".view.ShowFontSizeActivity"/>
        <activity android:name=".view.ShowLocalActivity"/>
        <activity android:name=".view.ShowRemoteActivity" />
        <activity android:name=".view.FeedbackActivity" />
        <activity android:name=".view.LockActivity"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".view.ShowLockActivity" />
        <activity android:name=".view.AppLogActivity" />
        <activity android:name=".view.ThemeActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wuruoye.note.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--友盟统计-->
        <meta-data android:value="KuAn" android:name="UMENG_CHANNEL"/>
        <meta-data android:value="5932198f7f2c7426fb0000b8" android:name="UMENG_APPKEY"/>

        <!--Droi云服务-->
        <meta-data android:name="com.droi.sdk.application_id" android:value="2hivmbzh1Fzh9CxmsqcPMMgdMM96EILnlQA0ws8M"/>
        <meta-data android:name="com.droi.sdk.channel_name" android:value="KuAn"/>
    </application>

</manifest>